html {
    font-size: 16px;
}

body {
    padding-top: 65px;
    padding-bottom: 20px;
    font-family: -apple-system,'微软雅黑','Tahoma', "Segoe UI", 'Droid Sans',sans-serif;
    font-size: 1rem;
    color: #777;
    background-color: #ebeced;
    /*background-color:ghostwhite;*/
}
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

a, a:hover, a:active, a:focus, a img {
    outline: none;
}

.container.content {
    background-color: white;
    padding: 0 25px;
    border-radius: 10px;
}

/***** Top menu *****/
.navbar {
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: #000000;
    filter: alpha(opacity=80);
    background: rgba(0,0,0,0.8);
}


ul.navbar-nav {
    color: #888;
    text-transform: uppercase;
}

    ul.navbar-nav li a {
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: #fff;
    }

        ul.navbar-nav li a:hover {
            background: none;
            color: #2ba560;
        }

        ul.navbar-nav li a:focus {
            background: none;
            color: #2ba560;
            outline: 0;
        }

.navbar-brand {
    background: url(../images/logo.png) left center no-repeat;
    background-size: 40px 40px;
    text-indent: -99999px;
    border-radius: 25px 25px;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 5px;
}

.jumbotron {
    background: url('../images/beijing.jpg') no-repeat;
    background-size: auto;
    color: white;
    margin-bottom: 15px;
    margin-top: -65px;
    padding-top: 70px;
    height: 380px;
}

@media screen and (min-width: 1100px) {
    .jumbotron {
        background-size: 100% 100%;
    }
}
/*  中间二维码部分  */
.wx-qr-container {
    margin: auto;
    border: 1px solid transparent;
    background: #000000;
    background: rgba(0,0,0,0.5);
    width: 250px;
    height: auto;
    border-radius: 3px 3px;
    padding: 20px 0;
    color: #ffffff;
    margin-bottom: 20px;
}

    .wx-qr-container img {
        width: 180px;
    }

.wx-qr-desp {
    font-size: 0.7rem;
    margin-top: 10px;
}
/* 页面内容部分 */
.page-header {
    margin-top: 1.8rem;
}



/* 页尾 */
footer {
    /*border-top: #808080 1px solid;*/
    font-size: 0.8rem;
}
